<div data-ng-repeat="cat in tree">
    <div style="background-color: white">
        <span ng-repeat-n="cat.depth">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> {{ cat.title }} {{ cat.count }}
    </div>
</div>
<ul data-tree="cat.children" data-template-url="{{ $parent.templateUrl }}"></ul>