.custom-placeholder
  +transition(all 0.3s cubic-bezier(0, 1.07, 0.58, 1))
  +position(absolute, 50% auto auto 0.4rem)
  color: #4972a3
  +transform(translateY(-50%))
  pointer-events: none

.custom-placeholder-move
  color: white
  +transform(translateY(-200%))
  left: 0
  font-size: 0.85rem
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)