html
  font-size: 20px

body
  padding: 0
  margin: 0
  position: relative
  font-family: "Cuprum", serif
  background:
    image: url(/images/global-background.jpg)
    attachment: fixed

a
  color: #3b2f5d
  text-decoration: none

h2
  font-family: Cuprum, serif
  font:
    size: 1.1em
    weight: bold
  margin-top: 0
  +media($tablet-size)
    font-size: 1.2em
  +media($desktop-size)
    font-size: 1.4em

%h
  &:before
    +fa-icon()
    margin-right: 12px


%h-light
  @extend %h
  color: white
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
%h-dark
  @extend %h
  color: #2d2944


section
  +clearfix()
  padding: 0.7rem 0.7rem 2rem
  overflow: hidden
  background-color: white
  box-shadow: inset 0 1.5rem 1rem -1.1rem rgba(0,0,0,0.15)

.container
  +outer-container
  box-shadow: 0 0 20px 7px rgba(0,0,0,0.2)
  overflow: hidden

%input
  font-family: "Cuprum", serif
  font-size: 1rem
  outline: none
  border-radius: 4px
  height: 1.8rem
  border: 1px solid darken(steelblue, 10%)
  padding: 0 0.4rem
select
  @extend %input
input[type="text"]
  @extend %input
