<!DOCTYPE html>
<html lang="ru" data-ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Видеорецепты - YouTube канал Хозяюшка Ангелина</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  </head>
  <body></body>
</html>
<header>
  <h1><span>Хозяюшка Ангелина</span></h1><a href="http://www.youtube.com/user/zavtrakanet">видеоканал о том, как вкусно готовить</a>
</header>
<div ng-controller="app.video.VideoController as vc" class="container ng-cloak">
  <section id="hero">
    <ul class="social-icons">
      <li><a href="http://youtube.com/user/zavtrakanet" target="_blank" class="youtube"> </a></li>
      <li><a href="http://www.odnoklassniki.ru/zavtrak" target="_blank" class="odnoklassniki"> </a></li>
      <li><a href="http://vk.com/zavtrakanet" target="_blank" class="vk"> </a></li>
      <li><a href="http://www.facebook.com/zavtrakanet" target="_blank" class="facebook"> </a></li>
      <li><a href="https://plus.google.com/+zavtrakanet" target="_blank" class="google-plus"> </a></li>
    </ul>
    <div class="content">
      <div class="hero-video">
        <div data-rectangle="{{ 16 / 8.9 }}" class="video-wrapper ng-cloak">
          <div class="ribbon"><span>Новое видео!</span></div>
          <div data-youtube-video data-video-id="vc.newVideo.video_id" class="embed-video"></div>
        </div>
      </div>
    </div>
    <div class="header-background"></div>
  </section>
  <!--
  section#contest
      h2 Внимание
      div
          div
              a(href="https://www.youtube.com/watch?v=Eh4whoc9o1M", target="_blank")
                  img(src="/images/contest.png")
              div Подробности об участии в 
                  a(href="https://www.youtube.com/watch?v=Eh4whoc9o1M", target="_blank") этом видео
              .timer
                  div.caption До конца конкурса осталось:
                  div.time(data-timer, data-end-time="1452679200000", data-language="ru") {{dayUnit}}
          div(data-rectangle='{{ 16/8.9 }}')
              div.embed-video(data-youtube-video, ng-init='contest_video_id="Eh4whoc9o1M"', data-video-id='contest_video_id')
  -->
  <section id="about">
    <h2>О канале</h2>
    <div>
      <div class="image"><img ng-src="{{ vc.channelData.thumbnail }}" alt=""></div>
      <div class="content">
        <div class="channel-title">Наш канал называется<span>&quot;{{ vc.channelData.title }}&quot;</span></div>
        <div class="channel-created">Создан {{ vc.channelData.date | amDateFormat:'LL' }}</div>
        <div class="channel-description">{{ vc.channelData.description }}</div>
        <div class="channel-link"><a href="http://www.youtube.com/user/zavtrakanet" target="_blank">Перейти на страницу канала</a></div>
      </div>
    </div>
  </section>
  <section id="videos">
    <div class="videos-bg"></div>
    <div class="videos-bg-blur"></div>
    <div class="section-head">
      <h2>Видеорецепты <span ng-show="(vc.videosTotalCount &gt; 0) &amp;&amp; !vc.videosLoading"></span><span ng-show="vc.getCategoryTitle()">/ {{ vc.getCategoryTitle() }} </span><span ng-show="vc.videoFilter.q">/ {{ vc.videoFilter.q }} </span><span ng-show="vc.videosTotalCount != 0" class="count">{{ vc.videosTotalCount }}</span></h2>
    </div>
    <div class="form-filter">
      <div>
        <select ng-model="vc.videoFilter.categoryId" data-custom-placeholder="Выберите категорию" ng-options="cat.id as cat.title for cat in vc.selectCategory">
          <option value=""></option>
        </select>
      </div>
      <div>
        <input type="text" data-custom-placeholder="Поиск по названию" ng-model="vc.videoFilter.q" ng-model-options="{debounce: 700}">
      </div>
    </div>
    <div class="section-content">
      <div ng-show="!vc.videosLoading &amp;&amp; !vc.videos.length" class="notfound">По вашему запросу ничего не найдено</div>
      <div ng-repeat="video in vc.videos" class="yt-image-col">
        <div data-rectangle="{{ 16/8.5 }}">
          <div data-background-image="http://img.youtube.com/vi/{{ video.video_id }}/hqdefault.jpg" class="yt-image"></div>
          <div class="caption"><a ng-href="http://www.youtube.com/watch?v={{ video.video_id }}" target="_blank">{{ video.title }}</a></div>
          <div class="play-button"><a ng-href="http://www.youtube.com/watch?v={{ video.video_id }}" target="_blank"></a></div>
          <div class="date"><span>{{ video.date_add | amDateFormat: 'D MMM, YY' }}</span></div>
        </div>
      </div>
    </div>
    <div class="load-btn">
      <button ng-click="vc.videoFilter.page = vc.videoFilter.page + 1" ng-show="!vc.videosLoading &amp;&amp; (vc.videoFilter.perPage * vc.videoFilter.page &lt; vc.videosTotalCount)">Показать ещё</button><span ng-show="vc.videosLoading" class="loading"></span>
    </div>
  </section>
  <section id="channel-statistics">
    <h2>Статистика канала</h2>
    <div class="subscriber-count">
      <div class="circle">{{ vc.channelData.subscriberCount }}</div>
      <div class="caption">Количество подписчиков</div>
    </div>
    <div class="video-count">
      <div class="circle">{{ vc.channelData.videoCount }}</div>
      <div class="caption">Количество видео</div>
    </div>
    <div class="view-count">
      <div class="circle">{{ vc.channelData.viewCount }}</div>
      <div class="caption">Число просмотров канала</div>
    </div>
  </section>
  <!--
  section#top-rated
      h2 Лидеры просмотров
      .owl-carousel(owl)
          .item
              img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
          .item
              img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
          .item
              img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
          .item
              img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
          .item
              img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
          .item
              img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
  
  
      .yt-image-col(ng-repeat='video in vc.topRated')
          div(data-rectangle='{{ 16/8.5 }}')
              .yt-image(data-background-image='http://img.youtube.com/vi/{{ video.video_id }}/hqdefault.jpg')
              .caption
                  a(ng-href='http://www.youtube.com/watch?v={{ video.video_id }}', target='_blank') {{ video.title }}
              .play-button
                  a(ng-href='http://www.youtube.com/watch?v={{ video.video_id }}', target='_blank')
              .date
                  span {{ video.date_add | amDateFormat: 'D MMM, YY' }}
  
  -->
  <section id="social">
    <h2>Мы в соцсетях</h2>
    <div><!-- VK Widget -->
<div id="vk_groups" style="margin: 0 auto"></div>
<script>
    !function (d) {
        var js = d.createElement("script");
        js.src = "//vk.com/js/api/openapi.js?121";
        js.onload = js.onreadystatechange = function () {
            if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                if (!this.executed) {
                    this.executed = true;
                    setTimeout(function () {
                        VK.Widgets.Group("vk_groups", {mode: 0, width: "280", height: "300", color1: 'FFFFFF', color2: '5C5C5C', color3: '5BA56D'}, 51319938);
                    }, 0);
                }
            }};
        d.documentElement.appendChild(js);
    }(document);
</script>



    </div>
    <div><div id="ok_group_widget"></div>
<script>
    !function (d, id, did, st) {
        var js = d.createElement("script");
        js.src = "https://connect.ok.ru/connect.js";
        js.onload = js.onreadystatechange = function () {
            if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                if (!this.executed) {
                    this.executed = true;
                    setTimeout(function () {
                        OK.CONNECT.insertGroupWidget(id,did,st);
                    }, 0);
                }
            }};
        d.documentElement.appendChild(js);
    }(document,"ok_group_widget","51618802237579","{width:280,height:300}");
</script>
    </div>
    <div><div class="fb-page"
     data-href="https://www.facebook.com/zavtrakanet"
     data-width="280"
     data-height="300"
     data-tabs="timeline"
     data-hide-cover="false"
     data-show-facepile="true"></div>
<script src="//connect.facebook.net/ru_RU/sdk.js#xfbml=1&amp;version=v2.3"></script>
    </div>
  </section>
  <footer class="ng-cloak">
    <div class="counter"><!--LiveInternet counter--><script type="text/javascript"><!--
    document.write("<a href='//www.liveinternet.ru/click' "+
        "target=_blank><img src='//counter.yadro.ru/hit?t57.7;r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";"+Math.random()+
        "' alt='' title='LiveInternet' "+
        "border='0' width='88' height='31'><\/a>");
    //--></script><!--/LiveInternet-->
    </div>
    <div class="copyright">Design & programming by E.Kokhanovsky ©2015</div>
  </footer>
</div>
<script src="/js/vendor.min.js"></script>
<script src="/js/app.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>