doctype html
html(lang='ru', data-ng-app='app')
    head
        meta(charset='UTF-8')
        title Видеорецепты - YouTube канал Хозяюшка Ангелина
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color', content='#ffffff')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='apple-touch-icon', sizes='57x57', href='/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
        link(rel='manifest', href='/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/favicon/ms-icon-144x144.png')
    body
header
    h1
        span Хозяюшка Ангелина
    a(href='http://www.youtube.com/user/zavtrakanet') видеоканал о том, как вкусно готовить

.container.ng-cloak(ng-controller="app.video.VideoController as vc")
    section#hero
        ul.social-icons
            li
                a.youtube(href='http://youtube.com/user/zavtrakanet', target='_blank')  
            li
                a.odnoklassniki(href='http://www.odnoklassniki.ru/zavtrak', target='_blank')  
            li
                a.vk(href='http://vk.com/zavtrakanet', target='_blank')  
            li
                a.facebook(href='http://www.facebook.com/zavtrakanet', target='_blank')  
            li
                a.google-plus(href='https://plus.google.com/+zavtrakanet', target='_blank')  
        .content
            .hero-video
                .video-wrapper(data-rectangle='{{ 16 / 8.9 }}').ng-cloak
                    .ribbon
                        span Новое видео!
                    div.embed-video(data-youtube-video, data-video-id='vc.newVideo.video_id')
        .header-background
    //
        section#contest
            h2 Внимание
            div
                div
                    a(href="https://www.youtube.com/watch?v=Eh4whoc9o1M", target="_blank")
                        img(src="/images/contest.png")
                    div Подробности об участии в 
                        a(href="https://www.youtube.com/watch?v=Eh4whoc9o1M", target="_blank") этом видео
                    .timer
                        div.caption До конца конкурса осталось:
                        div.time(data-timer, data-end-time="1452679200000", data-language="ru") {{dayUnit}}
                div(data-rectangle='{{ 16/8.9 }}')
                    div.embed-video(data-youtube-video, ng-init='contest_video_id="Eh4whoc9o1M"', data-video-id='contest_video_id')
    section#about
        h2 О канале
        div
            .image
                img(ng-src='{{ vc.channelData.thumbnail }}', alt='')
            .content
                .channel-title
                    | Наш канал называется
                    span &quot;{{ vc.channelData.title }}&quot;
                .channel-created Создан {{ vc.channelData.date | amDateFormat:'LL' }}
                .channel-description {{ vc.channelData.description }}
                .channel-link
                    a(href="http://www.youtube.com/user/zavtrakanet", target="_blank") Перейти на страницу канала
    section#videos
        .videos-bg
        .videos-bg-blur
        .section-head
            h2 Видеорецепты 
                span(ng-show="(vc.videosTotalCount > 0) && !vc.videosLoading")
                span(ng-show="vc.getCategoryTitle()") / {{ vc.getCategoryTitle() }} 
                span(ng-show="vc.videoFilter.q") / {{ vc.videoFilter.q }} 
                span.count(ng-show="vc.videosTotalCount != 0") {{ vc.videosTotalCount }}
        .form-filter
            div
                select(ng-model="vc.videoFilter.categoryId", data-custom-placeholder="Выберите категорию", ng-options="cat.id as cat.title for cat in vc.selectCategory")
                    option(value="")
            div
                input(type="text", data-custom-placeholder="Поиск по названию", ng-model="vc.videoFilter.q", ng-model-options="{debounce: 700}")
        .section-content
            .notfound(ng-show="!vc.videosLoading && !vc.videos.length") По вашему запросу ничего не найдено
            .yt-image-col(ng-repeat='video in vc.videos')
                div(data-rectangle='{{ 16/8.5 }}')
                    .yt-image(data-background-image='http://img.youtube.com/vi/{{ video.video_id }}/hqdefault.jpg')
                    .caption
                        a(ng-href='http://www.youtube.com/watch?v={{ video.video_id }}', target='_blank') {{ video.title }}
                    .play-button
                        a(ng-href='http://www.youtube.com/watch?v={{ video.video_id }}', target='_blank')
                    .date
                        span {{ video.date_add | amDateFormat: 'D MMM, YY' }}
        .load-btn
            button(ng-click='vc.videoFilter.page = vc.videoFilter.page + 1', ng-show='!vc.videosLoading && (vc.videoFilter.perPage * vc.videoFilter.page < vc.videosTotalCount)') Показать ещё
            span.loading(ng-show='vc.videosLoading')

    section#channel-statistics
        h2 Статистика канала
        .subscriber-count
            .circle {{ vc.channelData.subscriberCount }}
            .caption Количество подписчиков
        .video-count
            .circle {{ vc.channelData.videoCount }}
            .caption Количество видео
        .view-count
            .circle {{ vc.channelData.viewCount }}
            .caption Число просмотров канала
    //
        section#top-rated
            h2 Лидеры просмотров
            .owl-carousel(owl)
                .item
                    img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
                .item
                    img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
                .item
                    img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
                .item
                    img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
                .item
                    img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
                .item
                    img(src="http://ist1-4.filesor.com/pimpandhost.com/5/2/2/3/52237/B/C/Z/f/BCZf/14695928.jpg")
    
    
            .yt-image-col(ng-repeat='video in vc.topRated')
                div(data-rectangle='{{ 16/8.5 }}')
                    .yt-image(data-background-image='http://img.youtube.com/vi/{{ video.video_id }}/hqdefault.jpg')
                    .caption
                        a(ng-href='http://www.youtube.com/watch?v={{ video.video_id }}', target='_blank') {{ video.title }}
                    .play-button
                        a(ng-href='http://www.youtube.com/watch?v={{ video.video_id }}', target='_blank')
                    .date
                        span {{ video.date_add | amDateFormat: 'D MMM, YY' }}
    
    section#social
        h2 Мы в соцсетях
        div
            include widgets/vk.html
        div
            include widgets/ok.html
        div
            include widgets/fb.html

    footer.ng-cloak
        .counter
             include widgets/liveinternet-counter.html
        .copyright Design & programming by E.Kokhanovsky ©2015

script(src='/js/vendor.min.js')
script(src='/js/app.min.js')
script(src='https://www.youtube.com/iframe_api')

