+keyframes(scale)
  0%, 100%
    +transform(translateY(-50%) scale(1))
  50%
    +transform(translateY(-50%) scale(0.9))

#about
  overflow: hidden
  +position(relative)
  color: white
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8)
  background:
    image: url(/images/kitchen.jpg)
    position: bottom center
  &:before
    z-index: 0
    +position(absolute, 0 0 0 0)
    width: 100%
    content: ""
    background: rgba(70, 35, 0, 0.5)
  *
    z-index: 2
    +position(relative)
  h2
    @extend %h-light
    &:before
      content: $fa-var-info-circle
  > div
    text-align: center
    +media($tablet-size)
      text-align: left
    +media($desktop-size)
      @include span-columns(9)
      @include shift(1)
    .image
      text-align: center
      +span-columns(12)
      +media($tablet-size)
        +span-columns(4)
      +media($desktop-size)
        +span-columns(3)
      img
        +size(9rem)
        box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2)
        border: 0.1rem solid white
        border-radius: 50%
        +transition()
    .content
      +span-columns(12)
      +media($tablet-size)
        +span-columns(8)
      +media($desktop-size)
        +span-columns(9)
      .channel-title
        font-size: 1.3em
        margin-bottom: 0.5em
      .channel-created
        margin-bottom: 0.7em
      .channel-description
        margin-bottom: 0.7em
      .channel-link
        a
          font-size: 0.8rem
          +media($desktop-size)
            font-size: 1rem
          display: inline-block
          border: 1px solid rgba(255, 255, 255, 0.4)
          color: white
          +transition
          background:
            color: rgba(128, 33, 1, 0.4)
          padding: 0.6em 1em 0.6em 4em
          &:hover
            border-color: rgba(255, 255, 255, 1)
            background:
              color: rgba(128, 33, 1, 0.9)
            &:before
              +animation(scale 0.7s ease-in infinite)
              opacity: 1
          &:active
            top: 1px
          &:before
            +position(absolute, 50% auto auto 0)
            +transform(translateY(-50%))
            opacity: 0.8
            margin-left: 0.3em
            background:
              image: url(/images/youtube.png)
              repeat: no-repeat
              position: 0 center
            +size(52px 100%)
            content: " "
            
