=stat-circle($size: 7rem, $font-size: 1.8rem, $border-size: 0.5rem)
  +size($size)
  font-size: $font-size
  line-height: $size - $border-size * 2
  margin: 0 auto
  border: $border-size solid #cdcdcd
  border-radius: 50%
  box-sizing: border-box
  color: darken(gray, 10%)


#channel-statistics
  h2
    @extend %h-dark
    &:before
      content: $fa-var-bar-chart

  .video-count, .subscriber-count, .view-count
    +position(relative)
    +span-columns(12)
    +media($tablet-size)
      +span-columns(4)
    text-align: center


  .circle
    +stat-circle()
  .caption
    font-size: 1.2rem
    margin-bottom: 2rem

  +media($tablet-size)
    .circle
      +stat-circle(8rem, 2rem)
    .caption
      margin-bottom: 1rem

  +media($desktop-size)
    .circle
      +stat-circle(10.5rem, 2.7rem)
    .caption
      font-size: 1.35rem
      margin-bottom: 1rem

