#contest
  background:
    image: url(/images/wood.jpg)
  h2
    @extend %h-dark
    &:before
      content: $fa-var-trophy
  >div
    +span-columns(12)
    +media($desktop-size)
      @include shift(1)
      +span-columns(10)
    >div
      &:first-child
        font-size: 1rem
        margin-bottom: 1rem
        +media($tablet-size)
          +span-columns(6)
          font-size: 1rem
        +media($desktop-size)
          font-size: 1.3rem
        img
          max-width: 100%
          height: auto
          display: block
          margin: 0 auto
        text-align: center
    >div
      +position(relative)
      .embed-video
        box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.4)
        border: 0.3rem solid white
        +position(absolute, 0 auto auto 0)
        +size(100%)
      &:last-child
        +media($tablet-size)
          +span-columns(6)
        
  .timer
    color: darkred
    font-size: 0.85rem