footer
  padding: 20px 20px 30px
  color: #fff
  box-shadow: inset 0 0 40px -3px rgba(0,0,0,0.55)
  position: relative
  &:before
    position: absolute
    content: ""
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0.15
    background:
      image: url(/images/background-food.png)
    +filter(brightness(-100%) drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.6)))
  background:
    color: darken(gray, 30%)
  %inner
    position: relative
    z-index: 2
  .counter
    @extend %inner
    margin-bottom: 10px
  .copyright
    @extend %inner
    font-size: 0.9em