header
  @include position(absolute, 100px null null 0)
  @include media($tablet-size)
  width: 100%
  padding: 0
  font-family: Boomboom, serif
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.3)
  text-align: center
  z-index: 1
  background-color: #d93701
  &:before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    opacity: 0.35
    width: 100%
    height: 100%
    background-image: url(/images/background-food.png)
  @include media($desktop-size)
    &:after
      bottom: -80px
      right: 100px
      content: ""
      width: 286px
      height: 176px
      background:
        image: url(/images/utensils.png)
        repeat: no-repeat
        size: cover
      position: absolute
  h1
    position: relative
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.6)
    background: -webkit-linear-gradient(transparent, transparent), url(/images/top-background6.jpg) center 0 fixed no-repeat
    color: #fff
    -webkit-text-fill-color: transparent
    -webkit-background-clip: text
    font-size: 2em
    line-height: 40px
    margin: 20px 5px 10px

    @include media($tablet-size)
      font-size: 4em
      line-height: 65px
      margin-bottom: 10px
    @include media($desktop-size)
      font-size: 7em
      line-height: 95px
      margin-top: 50px
  a
    display: inline-block
    color: #f1f1f1
    text-shadow: -2px -1px 3px rgba(0, 0, 0, 0.3)
    letter-spacing: 1px
    text-decoration: none
    font-style: normal
    margin: 0 0 20px
    @include media($tablet-size)
      font-size: 1.2em
      margin-bottom: 30px
    @include media($desktop-size)
      font-size: 1.5em
      margin-bottom: 50px
