#hero
  position: relative
  overflow: hidden
  padding: 0 0 50px
  ul.social-icons
    display: inline-block
    position: absolute
    z-index: 1
    right: 0
    top: 5px
    @include media($tablet-size)
      top: 15px
    li
      display: inline-block
      float: left
      width: 60px
      height: 60px
      margin-right: -10px
      @include media($tablet-size)
        margin-right: 5px
      a
        transition: all 0.4s ease-out
        opacity: 0
        &:hover
          transform: scale(0.8)
          @include media($tablet-size)
            transform: scale(1)
        background-position: 0 0
        background:
          image: url(/images/social.png)
          repeat: no-repeat
        display: inline-block
        width: 100%
        height: 100%
        border-radius: 50%
        text-decoration: none
        transform: scale(0.65)
        @include media($tablet-size)
          transform: scale(0.9)
      .google-plus
        background-position: -60px 0
      .youtube
        background-position: -120px 0
      .odnoklassniki
        background-position: -180px 0
      .facebook
        background-position: -240px 0
  .content
    padding-top: 25rem
    .hero-video
      +position(relative)
      +span-columns(12)
      +media($tablet-size)
        +span-columns(8)
      +media($desktop-size)
        +span-columns(6)
      padding: 3.3rem 1rem 1rem
      .video-wrapper
        +position(relative)
        z-index: 3
        display: block

        border: 0.3rem solid darken(white, 2%)
        box-shadow: 2px 2px 22px 0 rgba(0,0,0,0.75)
        .embed-video
          +position(absolute, 0 auto auto 0)
          +size(100%)
          border: 0
        .ribbon
          font-size: 0.7rem
          +media($tablet-size)
            font-size: 1rem
          +media($desktop-size)
            font-size: 1.1rem
          +position(absolute, -0.3rem auto auto -0.3rem)
          +size(7.5em)
          z-index: 1
          overflow: hidden
          text-align: right
          span
            +position(absolute, 2.1em auto auto -2.1em)
            +transform(rotate(-45deg))
            font-weight: bold
            color: #FFF
            text-transform: uppercase
            text-align: center
            line-height: 1.67em
            width: 10em
            display: block
            background: #79A70A
            background: linear-gradient(#9BC90D 0%, #79A70A 100%)
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1)

    .bounceIn
      @include bounceIn()
  .header-background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background:
      image: url(/images/top-background6.jpg)
      position: center 0
      attachment: fixed