#social
  overflow: hidden
  position: relative
  background:
    image: url(/images/wood.jpg)
  &:before
    content: ""
    +position(absolute, 0 0 0 0)
    +size(100%)
    background:
      color: rgba(170, 40, 0, 0.4)
  h2
    position: relative
    @extend %h-light
    &:before
      content: $fa-var-users
  > div
    position: relative
    text-align: center
    margin-bottom: 1rem
    +span-columns(12)
  +media($tablet-size)
    > div
      +span-columns(6)
      +omega()
    > div:nth-of-type(3)
      +span-columns(12)
  +media($desktop-size)
    > div
      +span-columns(4)
    > div:nth-of-type(3)
      +span-columns(4)
