@mixin date-shortcut($color, $height)
  @include position(absolute, 0 0 null null)
  @include transition-duration(0.6s)
  height: $height
  color: white
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7)
  margin-right: -$height
  z-index: 1
  span
    vertical-align: middle
    display: table-cell
    height: $height
    padding-right: $height + $height / 2
  @include transform(translateX(100%))
  @include filter(drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.7)))
  &:after
    @include position(absolute, 0 null null -1*($height))
    z-index: 0
    width: 0
    height: 0
    content: " "
    display: block
    border: $height/2 solid $color
    border-left-color: transparent
    margin-right: -3px
  background:
    color: $color


@mixin play-button($size)
  width: $size
  height: $size
  top: 50%
  left: 50%
  margin-left: - ($size / 2)
  margin-top: - ($size / 2)
  z-index: 2
  @include transform(scale(0))
  position: absolute
  background:
    image: url(/images/play_button.png)
    repeat: no-repeat
    size: cover
  a
    +size(100%)
    display: block
    border-radius: 50%
    text-decoration: none


#videos
  +position(relative)
  padding: 0
  overflow: hidden
  background-color: #274b7a

  %vid-bg
    +position(absolute)
    +size(100%)
    content: ""
    z-index: 1
    background-image: url(/images/background-food.png)

  .videos-bg
    @extend %vid-bg
    opacity: 0.3
  .videos-bg-blur
    @extend %vid-bg
    opacity: 0.12
    transform: scale(4)


  .section-head
    padding: 0.7rem 0.7rem 0rem
    position: relative
    margin-bottom: 2rem
    z-index: 1
    h2
      @extend %h-light
      &:before
        content: $fa-var-video-camera
      span.count
        font-weight: normal
        font-size: 1rem

  .form-filter
    
    > div
      margin-bottom: 1.2rem
      +span-columns(12)
      +media($tablet-size)
        +span-columns(6)
      +media($desktop-size)
        +span-columns(4)
        
    +position(relative)
    +clearfix

    z-index: 5
    padding: 0 1rem
    select, input
      width: 100%

  .notfound
    font-size: 1.2rem
    margin: 0 1rem
    padding: 1rem
    border-radius: 3px
    //border: 1px solid
    display: inline-block
    background-color: #e26565

  .section-content
    position: relative
    z-index: 5
    //box-shadow: 0 0 13px 1px rgba(0,0,0,0.4)
    +clearfix
    margin-right: -1px
    .yt-image-col
      +position(relative)
      float: left
      padding: 0
      z-index: 1
      width: 100%
      overflow: hidden
      margin-bottom: -1px
      &:hover
        .caption
          +transform(translateY(0))
          opacity: 1
        .yt-image
          +transform(scale(1.05))
        .play-button
          +bounceIn(1, 0.5s)
        .date
          +transform(translateX(0))
      .caption
        +transform(translateY(100%))
        +position(absolute, null null 0 0)
        +transition-duration(0.6s)
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9)
        opacity: 0
        z-index: 2
        width: 100%
        padding: 8px
        background:
          color: rgba(0, 0, 0, 0.5)
        a
          color: white
          text-decoration: none
      .date
        +date-shortcut(rgba(255, 100, 0, 0.85), 1.6rem)
      .play-button
        +play-button(3rem)
        +media($desktop-size)
          +play-button(4rem)
      .yt-image
        width: 100%
        height: 100%
        z-index: 1
        background:
          position: center center
          size:     cover
        box-shadow: inset 0 0 20px 1px rgba(0,0,0,0.4)
        +transition
      +media($tablet-size)
        width: 50%
      +media($desktop-size)
        width: 33.3333%
  .load-btn
    +position(relative)
    z-index: 1
    text-align: center
    padding-top: 40px
    height: 7rem
    button
      +button(darken(steelblue, 10%))
      &:before
        +fa-icon()
        content: $fa-var-ellipsis-h
        margin-right: 12px
    span.loading
      &:before
        content: $fa-var-spinner
        font-size: 3.5rem
      color: white
      +fa-icon()
      @extend .fa-spin