<div class="fb-page"
     data-href="https://www.facebook.com/zavtrakanet"
     data-width="280"
     data-height="300"
     data-tabs="timeline"
     data-hide-cover="false"
     data-show-facepile="true"></div>
<script src="//connect.facebook.net/ru_RU/sdk.js#xfbml=1&amp;version=v2.3"></script>