<!-- VK Widget -->
<div id="vk_groups" style="margin: 0 auto"></div>
<script>
    !function (d) {
        var js = d.createElement("script");
        js.src = "//vk.com/js/api/openapi.js?121";
        js.onload = js.onreadystatechange = function () {
            if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                if (!this.executed) {
                    this.executed = true;
                    setTimeout(function () {
                        VK.Widgets.Group("vk_groups", {mode: 0, width: "280", height: "300", color1: 'FFFFFF', color2: '5C5C5C', color3: '5BA56D'}, 51319938);
                    }, 0);
                }
            }};
        d.documentElement.appendChild(js);
    }(document);
</script>


